@page
@model TA_Apricode.Pages.DetailsModel

<h2>Детали игры</h2>

<div>
    <h4>Игра</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Model.Game.Title
        </dd>
        <dt class="col-sm-2">
            Разработчик
        </dt>
        <dd class="col-sm-10">
            @Model.Game.Developer
        </dd>
        <dt class="col-sm-2">
            Жанры
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Game.Genres)
        </dd>
    </dl>
    <a asp-page="./Index">Вернуться к списку</a>
</div>